body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Gajraj One', cursive;
  margin-top: 15%;
  background-color: rgb(102, 101, 101);
}

form {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

h1 {
  font-size: 45px
}